@font-face {
	font-family: "cronos-pro-light";
	src: url('CronosPro-Lt.eot');
	src: url('CronosPro-Lt.eot?#iefix') format('embedded-opentype'),
		url('CronosPro-Lt.svg#Cronos Pro Light') format('svg'),
		url('CronosPro-Lt.woff') format('woff'), url('CronosPro-Lt.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "cronos-pro-light";
	direction: ltr;
	margin: 0;
	padding: 0;
}

.header {
	width: 1000px;
	background-color: white;
	color: #444d9a;
	height: 80px;
	position: relative;
	margin: 0 auto;
	border-bottom-width: medium; 
	border-bottom-color: #444d9a;
	border-bottom-style: solid;
	
}

.headerTitle {
	position: absolute;
	top: 24px;
	left: 300px;
	font-size: 22px;
	font-weight: bold;
	
}

.headerImage {
	position: absolute;
	top: 0px;
	left: 0px;
}

.form-container {
	position:relative;
	top: 10px;
	margin: 0 auto;	
	width: 1000px;
	
}
